.cartItemContainer {
    max-height: 400px;
    overflow-y: auto;

}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.container h4, .cartItemContainer h4 {
    margin: 0;
    margin-top: 0.3rem;
}

.itemHeadings {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    padding-left: 2.8rem;
    padding-right: 0.5rem;
    height: 2rem;
}

.shift {
    position: relative;
    left: 1rem;
}

.details {
    display: flex;
    border-bottom: 2px solid grey;
    justify-content: flex-start;
    padding: 1rem;
    padding-left: 0;

}

.itemDetails {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding-top: 0.7rem;
}


.item {
    display: flex;
    width:30%;
    
}


.itemImage{
    height: 4rem;
    width: 35%;
    margin-right: 0.4rem;
    padding-top: 20%;

}

.itemImage img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.itemText {
    width: 65%;
}



.amount {
   text-align: center;
    width: 4rem;

}

.calcAmount {
    display: flex;

}

.calcAmount div, .delete{
    border: 2px solid grey;
    margin: 0 0.2rem;
    height: 1.6rem;
    width: 2rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.6rem;

}

.delete {
 position: relative;
 left: 0.5rem;
 background-color: red;
 color: white;
 border-color: transparent;
}
