.errorComponentBody {
    margin: auto;
    text-align: center;
}

.errorComponentBody div{
   margin: 1rem;
}

.errorImage {
    height: 14rem;
    width: 14rem;
    padding-left: 40%;
    text-align: center;
}

.errorImage img {
    height: 100%;
    width: 100%;
}

.errorText {
    color: grey;
}