.container {
    margin: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    width: 7.1rem;
    border: none;
    border-radius: 0.6rem;
    color: black;
}

.image {
   height: 11rem;
   width: 100%;
  
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.itemDetails{
 display: flex;
 flex-direction: column;
 margin-top: 0.4rem;

}

.itemDetails * {
margin: 0.7rem;
}

.addToCart {
   position: relative;
   right: 0;
   width: 1rem;
   display: inline-block;
}