.container {
    margin: 1.7rem;
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    height: 11rem;
    width: 7.9rem;
    border: none;
    border-radius: 0.6rem;
}

.image {
   height: 65%;
   width: 100%;
  
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.itemDetails{
 display: flex;
 flex-direction: column;
 margin-top: 0.4rem;
}

.addToCart {
   position: relative;
   right: 0;
   width: 1rem;
   display: inline-block;
}