.container {
    margin: 1.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 10rem;
    border: none;
    border-radius: 0.6rem;
    color: black;
    cursor: default;
   
}

.itemContainer {
   color: black;
}

.container:hover {
   background-color: rgb(60, 131, 107);
}


.image {
   height: 11rem;
   width: 100%;
  
}

.image img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.itemDetails{
 display: flex;
 flex-direction: column;
 margin-top: 0.4rem;

}

.itemDetails * {
margin: 0.7rem;
}


.addcartContainer {
   display: none;
   border-radius: 0.6rem;
   background-color: black;
   padding-top: 0.1rem;
   width: 100%;
   height: 10%;
   cursor: pointer;
}

.container:hover .addcartContainer {
   display: flex;
}


.addcartContainer h4 {
   margin: 0;
   color: azure;
}

.addcart {
   height: 1.5rem;
   width: 1.5rem;
   margin-right: 0.3rem;
  
}

.addcart img {
   height: 100%;
   width: 100%;
}