.nav {
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 13, 13);
  
    padding: 1rem;
}

a {
    color: beige;
    text-decoration: none;
}

.deets {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.deets a,.deets div {
    margin: 0 2rem;
}

.cartContainer {
    height: 1.5rem;
    width: 2rem;
    cursor: pointer;
}

.cartContainer img {
    height: 100%;
    width: 100%;
}