.itemsList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 2rem;
}

.form {
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    height: 2rem;
}


.searchInput input {
    padding: 0 0.4rem;
    font-size: small;
    margin-right: 0.5rem;
    width: 15rem;
    
}

select, .searchInput input, button {
    border: 1px solid;
    border-radius: 0.6rem;
    height: 1.8rem;

}

button{
    width: 7rem;
    color: beige;
    background-color: black;
    cursor: pointer;
}

.categoriesList {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.addWidth > a {
    width: 15%;
}

.categoriesText {
    text-align: center;
    margin-bottom: 3rem;
}


.warning {
    color: red;
}
